*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: white;
    border: none;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo{
    width: 50%;
}

header{
    padding: 20px 0;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.menu button{
    width: 80px;
    background-color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    color: white;
}


.Usuário{
    margin-left: 35%;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    text-align:left;
    position: absolute;
    margin-top: -5% ;
    color: rgb(13, 36, 150);
    display: block;
    padding: 10px;
}

#userlabel{
    color: black;
}

body{
    background-image: url(../img/fundodesfocado.png);
    background-size: cover;
}

.main-container{
    width: 800px;
    height: 420px;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: rgb(8, 8, 8);
    background-color: rgba(0, 5, 0, 0.8);
    top: 64%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 60px 28px;
}
 
.imagem{
    display: inside;
    margin: 100px ;
    border-radius: 90%;
    padding: 10px;
    margin-top: 1px;
    position: absolute;
    top: -69px;
    left: 230px;
}

.main-container{
    width: 800px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

.half-box{
    flex: 1 1 45%;
}

.spacing{
    margin-right: 2.5%;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

.form{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    border-bottom: 2px solid #323232;
    padding: 10px;
    margin-bottom: 40px;
    font-weight: 1px;
    font-size: .8rem;
}

#novasenha{
    border-bottom: 2px solid #323232;
    border: 2px solid #000;
    background-color: rgba(0, 5, 0, 0.8);
    padding: 10px;
    margin-bottom: 40px;
    font-weight: 1px;
    font-weight: bold;
    font-size: .8rem;
    margin-left: 10%;
}


.botao{
    margin-left: 36%;
    margin-bottom: 80%;
}


input:focus{
    border-color: lime;
}

input[type="submit"]{
    background-color: lime;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: burlywood;
    transition: .5s;
}
